{% extends 'base_generic.html' %}

{% block title %} 내가 해야 할 일 {% endblock %}

{% block styles %}
{% load static %}    
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?after">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4 text-center">To Do</h1>
    <div class="row">
        <div class="col-md-3">
            <form id="postForm">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" id="title" name="title" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content:</label>
                    <textarea id="content" name="content" class="form-control" required rows="10"></textarea>
                </div>
                <button type="button" onclick="createPost()" class="btn btn-success">Create Post</button>
            </form>
        </div>
        <div class="col-md-9 right-content">
            <ul id="postList" class="row">
                <!-- Posts will be inserted dynamically here -->
            </ul>
        </div>
    </div>
</div>

<!-- jQuery, Bootstrap.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    fetchPosts();
});

function convertLineBreaksToHTML(content) {
    return content.replace(/\n/g, '<br>');
}

function fetchPosts() {
    fetch('http://3.39.123.7/todo/api/posts')
        .then(response => response.json())
        .then(data => {
            const postList = document.getElementById('postList');
            postList.innerHTML = ''; 
            data.forEach(post => {
                const listItem = document.createElement('li');
                listItem.classList.add('col-12', 'licard');
                const truncatedContent = post.content.length > 200 ? post.content.substring(0, 200) + '...' : post.content;
                const formattedContent = convertLineBreaksToHTML(truncatedContent); // 줄바꿈 변환
                listItem.innerHTML = `
                    <div class="card card-custom">
                        <div class="card-body">
                            <h5 class="card-title">${post.title}</h5>
                            <p class="card-text">${formattedContent}</p> <!-- 변환된 줄바꿈 적용 -->
                            <small class="text-muted">Created at: ${new Date(post.created_at).toLocaleString()}</small>
                            <button type="button" onclick="deletePost(${post.id})" class="btn btn-sm btn-danger delete-btn mt-2">Delete</button>
                        </div>
                    </div>
                `;
                postList.appendChild(listItem);
            });
        })
        .catch(error => console.error('Error fetching posts:', error));
}

function clearFields() {
    document.getElementById('title').value = '';
    document.getElementById('content').value = '';
}

function isAuthenticated() {
    return localStorage.getItem('access_token') !== null;
}

function createPost() {
    const token = localStorage.getItem('access_token');

    if (!isAuthenticated()) {
        alert('로그인 된 사용자만 사용 가능합니다.');
        return;
    }

    const title = document.getElementById('title').value;
    const content = document.getElementById('content').value;

    fetch(`http://3.39.123.7/todo/api/posts/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        },
        body: JSON.stringify({ title, content }),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Successfully created post:', data);
        fetchPosts(); 
        clearFields();
    })
    .catch(error => console.error('Error creating post:', error));
}

function deletePost(postId) {
    const token = localStorage.getItem('access_token');

    if (!isAuthenticated()) {
        alert('로그인 된 사용자만 사용 가능합니다.');
        return;
    }
    
    fetch(`http://3.39.123.7/todo/api/posts/${postId}/`, {
        method: 'DELETE',
        headers: {
            'Authorization': `Bearer ${token}`
        },
    })
    .then(response => {
        if (response.ok) {
            console.log('Successfully deleted post:', postId);
            fetchPosts(); 
        } else {
            console.error('Error deleting post:', response.statusText);
        }
    })
    .catch(error => console.error('Error deleting post:', error));
}
</script>
{% endblock %}
