{% extends 'base_generic.html' %}

{% block content %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- bootstrap_datepicker_plus JS -->
    
    <h1>Create Diary Entry</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {{ form.media }}
    {{ form.media.js }}
{% endblock %}
