{% extends 'base_generic.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
<style>
    .detail-content {
        min-height: 300px;
        border: 2px dashed blue; 
    }
</style>
{% endblock %}

{% block content %}
<div class="container detail-container">
    <div class="detail-header">
        <h2>{{ post.title }}</h2>
    </div>
    <div class="detail-content">
        <p>{{ post.content }}</p>
    </div>
    <div class="action-buttons">
        <a href="{% url 'diary:post_list' %}" class="btn btn-info">글 목록</a>
        <a id="editBtn" href="{% url 'diary:post_edit' pk=post.pk %}" class="btn btn-primary">글 수정</a>
        <a id="deleteBtn" href="javascript:void(0);" class="btn btn-danger">글 삭제</a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var token = localStorage.getItem('access_token');
        var updateButton = document.getElementById('updateButton');
    
        if (token) {
            updateButton.addEventListener('click', function() {
                fetch('{% url 'resume:update_resume' %}', {
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '{% url 'resume:update_resume' %}';
                    } else {
                        alert('토큰이 유효하지 않습니다.');
                    }
                })
                .catch(error => {
                    console.error('에러 발생:', error);
                    alert('요청을 처리하는 중에 오류가 발생했습니다.');
                });
            });
        } else {
            updateButton.addEventListener('click', function() {
                alert('로그인 된 사용자만 사용 가능합니다.');
            });
        }
    });
    
</script>
{% endblock %}
