{% extends 'base_generic.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
<style>
    .detail-content {
        min-height: 300px;
        border: 2px dashed blue; 
    }
</style>
{% endblock %}

{% block content %}
<div class="container detail-container">
    <div class="detail-header">
        <h2>{{ post.title }}</h2>
    </div>
    <div class="detail-content">
        <p>{{ post.content }}</p>
    </div>
    <div class="action-buttons">
        <a href="{% url 'diary:post_list' %}" class="btn btn-info">글 목록</a>
        
        <a id="updateBtn" href="{% url 'diary:post_edit' pk=post.pk %}" class="btn btn-primary">글 수정</a>
        <a id="deleteBtn" href="javascript:void(0);" data-pk="{{ post.pk }}" class="btn btn-danger">글 삭제</a>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var token = localStorage.getItem('access_token');
        var updateBtn = document.getElementById('updateBtn');
    
        if (token) {
            updateBtn.addEventListener('click', function() {
                fetch('{% url 'resume:update_resume' %}', {
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer ' + token
                    }
                })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '{% url 'resume:update_resume' %}';
                    } else {
                        alert('토큰이 유효하지 않습니다.');
                    }
                })
                .catch(error => {
                    console.error('에러 발생:', error);
                    alert('요청을 처리하는 중에 오류가 발생했습니다.');
                });
            });
        } else {
            updateBtn.addEventListener('click', function() {
                alert('로그인 된 사용자만 사용 가능합니다.');
            });
        }
    });
 
    document.addEventListener('DOMContentLoaded', function() {
        var deleteButton = document.getElementById('deleteBtn');
        var token = localStorage.getItem('access_token');

        deleteButton.addEventListener('click', function() {
            if (!token) {
                alert('로그인이 필요합니다.');
                return;
            }

            if (confirm('정말로 삭제하시겠습니까?')) {
                deletePost();
            }
        });

        function deletePost() {
            var postId = {{ post.pk }};
            fetch(`http://3.39.123.7/diary/api/posts/${postId}/`, {
                method: 'DELETE',
                headers: {
                    'Authorization': `Bearer ${token}`,
                    'Accept': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                // 삭제 성공 시 이동
                window.location.href = '{% url 'diary:post_list' %}';
            })
            .catch(error => {
                console.error('Error:', error);
                alert('삭제 실패: ' + error.message);
            });
        }
    });
</script>

{% endblock %}
