{% extends 'base_generic.html' %}

{% block title %}포스트 목록{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock %}

{% block content %}
<div class="text-right mb-3">
    <!-- 글 쓰기 버튼을 항상 표시 -->
    <a href="{% url 'diary:post_new' %}" class="btn btn-primary">글 쓰기</a>
</div>

<table>
    <thead>
        <tr>
            <th>Num</th>
            <th>제목</th>
            <th>작성일, 시</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'diary:post_detail' pk=post.pk %}">{{ post.title }}</a></td>
            <td>{{ post.created_at }}</td>
            <td>
                <form action="{% url 'diary:post_delete' pk=post.pk %}" method="post" class="delete-form" style="display: none;">
                    {% csrf_token %}
                    <input type="submit" value="삭제" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
document.addEventListener('DOMContentLoaded', function () {
    updateUIBasedOnAuth();
});

function isAuthenticated() {
    return localStorage.getItem('access_token') !== null;
}

function updateUIBasedOnAuth() {
    const authenticated = isAuthenticated();
    if (authenticated) {
        const deleteForms = document.querySelectorAll('.delete-form');
        deleteForms.forEach(form => {
            form.style.display = 'inline';
        });
    }
}
</script>

{% endblock %}
