

#resume_photo {
    margin-top : 40px;
    max-width: 160px; 
    height: auto;
}

#updateButton {
    color:#0B65C2;
    border: 2px solid #0B65C2;
    border-radius: 15px;
    padding: 0.75em 1.5em;
    margin-bottom: 20px;
    background-color: white;
    transition: background-color 0.3s ease, border-radius 0.3s ease; 
}


#updateButton:hover {
    color:white;
    background-color: #0B65C2;
    border-radius: 2px;
}

#buttonDiv {
    text-align: right;
    margin-top: 40px;
    margin-left:15px;
    float:left;
}

#resume-nav {
    color : black;
}

.resume-section {
    margin-top: 50px;
    text-align: left;
}

.item {
    border-bottom: 1px solid #0B65C2;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2, h3, p {
    color: #0B65C2;
}

.name_role {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#name {
    margin-right : 50px;
    flex-basis: 30%;
}

#role_salary {
    flex-basis: 50%;
    margin-left: 50px;
}


