body {
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    max-width: 600px; 
    margin: 30 auto;
}

label {
    margin-bottom: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
}

.licard {
    list-style-type: none;
    padding: 10px;
    border: 1px solid #000; 
    border-radius: 5px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    height: 300px; /* 세로 크기를 300px로 설정합니다 */
    width: calc(50% - 20px); /* 가로 크기를 50%로 설정합니다 */
    margin: 20px; /* 마진을 추가하여 카드 간의 간격을 조정합니다 */
}

.card {
    background-color: none;
    border : none;
}

strong {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

small {
    font-size: 12px;
    color: #888;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}