{% extends 'base_generic.html' %}

{% block title %}남정식 이력서{% endblock %}

{% block styles %}{% load static %}<link rel="stylesheet" href="{% static 'css/resume.css' %}">{% endblock %}

{% block content %}
<section class="resume-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ resume.photo.url }}" alt="Your Photo" class="img-fluid rounded-circle" style="max-width: 150px; height: auto;">
            </div>
            <div class="col-md-9">
                <div class="item" id="comment">
                    <p>{{ resume.comment | safe }}</p>
                </div>
                <div class="item name_role">
                    <h3 id="name">이름 : {{ resume.name | safe }}</h3>
                    <p id="role">지원분야: {{ resume.role | safe }}</p>
                </div>
                
                <div class="item" id="career">
                    <p>{{ resume.career | safe }}</p>
                </div>

                <div class="item" id="salary">
                    <p>연봉: {{ resume.salary | safe }}</p>
                </div>
                <div class="item" id="intro">
                    <p>자기 소개: {{ resume.intro | safe }}</p>
                </div>
                <div class="item" id="information">
                    <p>개인 정보: {{ resume.information | safe }}</p>
                </div>
                <div class="item" id="certificate">
                    <p>보유 자격: {{ resume.certificate | safe }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
    <!-- 추가적인 JS 스크립트를 원하면 여기에 추가 -->
    <script>
        // 예시로 스크립트 추가
        console.log('Resume Page Script');
    </script>
{% endblock %}
