{% extends 'base_generic.html' %}

{% block title %}남정식 이력서{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/resume.css' %}">
{% endblock %}

{% block headerJS %}
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
{% endblock %}

{% block content %}
<section class="resume-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 left-div">
                <img src="{{ resume.photo.url }}" alt="Your Photo" class="img-fluid rounded-circle" id="resume_photo">
                <div id = "buttonDiv">
                    <button id="updateButton">이력서 수정</button>
                </div>
            </div>
            <div class="col-md-9">
                <div class="item" id="comment">
                    <h3>{{ resume.comment | safe }}</h3>
                </div>
                <div class="item name_role">
                    <h3 id="name">이름 : {{ resume.name | safe }}</h3>
                    <div id = "role_salary">
                        <p id="role">지원분야: {{ resume.role | safe }}</p>
                        <p>희망연봉: {{ resume.salary | safe }}</p>
                    </div>
                </div>
                
                <div class="item" id="career">
                    <h3> 이력사항 </h3>
                    <p>{{ resume.career | safe }}</p>
                </div>

                <div class="item" id="intro">
                    <h3> 자기소개 </h3>
                    <p>{{ resume.intro | safe }}</p>
                </div>
                <div class="item" id="information">
                    <h3> 개인 정보 </h3>
                    <p>{{ resume.information | safe }}</p>
                </div>
                <div class="item" id="certificate">
                    <h3> 보유 자격 </h3>
                    <p>{{ resume.certificate | safe }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var converter = new showdown.Converter();
    var itemParagraphs = document.querySelectorAll('.item p');

    itemParagraphs.forEach(function(p) {
        p.innerHTML = converter.makeHtml(p.innerText);
    });

    var token = localStorage.getItem('access_token');
    var updateButton = document.getElementById('updateButton');

    if (token) {
        updateButton.addEventListener('click', function() {
            window.location.href = '{% url 'resume:update_resume' %}';
        });
    } else {
        updateButton.addEventListener('click', function() {
            alert('로그인 된 사용자만 사용 가능합니다.');
        });
    }
});
</script>
{% endblock %}
