{% extends "base_generic.html" %}
{% block title %} 로그인 페이지 {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2 class="text-center">로그인</h2>
            <form id="loginForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">사용자 이름:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <div class="form-group">
                    <button type="button" onclick="login()" class="btn btn-primary btn-block">로그인</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
function login() {
    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;
    
    fetch(`http://3.39.123.7/api/token/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ username: username, password: password })
    })
    .then(response => response.json())
    .then(data => {
        if (data.access) {
            localStorage.setItem('access_token', data.access);
            localStorage.setItem('refresh_token', data.refresh);
            window.location.href = document.getElementsByName('next')[0].value || '/';  // Redirect to next or home
        } else {
            alert('로그인 실패: ' + data.detail);
        }
    })
    .catch(error => {
        console.error('로그인 에러:', error);
        alert('로그인 프로세스 중 에러 발생');
    });
}
</script>
{% endblock %}
